body
{
    background-image: url('Marmur.jfif');
    background-color:pink
    
}

p

{
    color: teal;
    font-size: 18pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif;
}
